<div class="main">
  <selectdata (currencySelected)="onCurrencySelected($event)" (dateSelected)="onDateSelected($event)" ></selectdata>

  <div class="text-center">
    <button (click)="refreshRates()" class="btn">Refresh Rates </button>
  </div>
  <div *ngIf="currencyList$ | async as currencyList; else loader">
    <div *ngIf="(currencyList.exchange_rates |json) !== '{}'; else loggedOut">
      <div class="text-center">
        <p class="currency-list">Exchange Rates:</p>
      </div>
    </div>
    <div *ngFor="let item of currencyList.exchange_rates | keyvalue" style="text-align: center;margin-bottom: 5px;">
      {{selectedBaseCurrency}}/{{item.key}} = {{item.value}}</div>
  </div>
  <ng-template #loggedOut>
    <p class="error-msg"> Error fetching data!</p>
  </ng-template>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
