.container {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 280px;
}
.title {
  font-size: 18px;
}
.text-center {
  text-align: center;
}

.select-choice {
  padding: 5px;
  border-radius: 5px;
}
.currency-list {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}
.input-data {
  border-radius: 20px;
  padding: 10px;
  outline: none;
}
